* {
    font-family: Roboto;
    color: #F9FAF8;
    list-style: none;
}

body {
    background-color: #1F2937;
    padding: 0;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

p {
    color: #E5E7EB;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px 0 300px;
    
}

.information {
    background-color: white;
    padding: 50px 300px 50px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diagram > p {
    color: black;
}

.gallary {
    display: flex;
    gap: 40px;
}

.illustration {
    border-style: solid;
    border-radius: 16px;
    border-width: 4px;
    border-color: #3882F6;
}

.links {
    display: flex;
    gap: 20px;
    color:#E5E7EB;
}

.sign-up {
    display: flex;
    gap: 40px;
    padding: 50px 300px 50px 300px;
}

.text {
    flex: 1;
    min-width: 0;
}

.castle {
    flex: 1;
    width: 100px
}

.attack {
    padding: 15px 32px;
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
}

.illustration {
    width: 250px;
}

.gallary {
    display: flex;
}

.quote {
    padding: 50px 300px 50px 300px;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    color: black;
    text-align: end;
}

button:hover {
    opacity: 0.95;
    transform: scale(1.05); /* Slightly enlarge the button */
    cursor: pointer;
}

.h-links:hover {
    opacity: 0.95;
    transform: scale(1.05); /* Slightly enlarge the button */
    cursor: pointer;
}